/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.enemy {
  /*display: inline-block;*/
  width: 200px;
  height: 200px;
  background-color: black;
}
img {
  width: 200px;
  height: 200px;
}

.board {
  background-image: url('http://cdni.wired.co.uk/1240x826/s_v/space_11.jpg');
  background-size:cover;
}

.bubbleChart {
  width: 800px;
  height: 450px;
  margin-top: 80px;
  border: solid 2px black;
}

.infoDisplay {
  width: 100px;
  height: 100px;
  background-color: teal;
  color: white;
  visibility: hidden;
  position: absolute;
  text-align: center;
  /*margin-left: 50px;*/
  border-radius: 50px;
  line-height: 100px;
}

.pieChart {
  margin-top: 50px;
  width: 400px;
  height: 400px;
  border: solid 1px blue;
}

.reGraphButton {
  color:maroon;  
}
