/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.enemy {
  /*display: inline-block;*/
  width: 200px;
  height: 200px;
  background-color: black;
}
img {
  width: 200px;
  height: 200px;
}

.board {
  background-image: url('http://cdni.wired.co.uk/1240x826/s_v/space_11.jpg');
  background-size:cover;
}

.bubbleChart {
  width: 700px;
  height: 400px;
  margin-top: 200px;
  border: solid 2px black;
}

.infoDisplay {
  width: 100px;
  height: 100px;
  border: solid 1px black;
  background-color: teal;
  visibility: hidden;
  position: absolute;
  margin-left: 400px;
}